
process {
    withName: BLAST_BLASTN {
        ext.args = { "${params.blastn_args}" }
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = { "${params.makeblastdb_args}" }
    }

    withName: HIFITRIMMER_TRIM {
        ext.args = {
            if (!params.hifitrimmer_output) {
                return ''
            }

            def name = input.name.toLowerCase()
            def inputType = name ==~ /.*\.bam$/ ? 'bam' : name ==~ /.*\.(fq|fastq)(\.gz)?$/ ? 'fastq' : 'fasta'
            def resolvedOutput = params.hifitrimmer_output

            if (inputType == 'fasta' && params.hifitrimmer_output != 'fasta') {
                resolvedOutput = 'fasta'
            }
            if (inputType == 'fastq' && params.hifitrimmer_output in ['bam', 'sam', 'cram']) {
                resolvedOutput = 'fastq'
            }

            return "-f ${resolvedOutput}"
        }
    }

    withName: LIMA {
        ext.args = { "${params.lima_args}" }
    }

    withName: PBMARKDUP {
        ext.prefix = { "${meta.id}_pbmarkdup"   }
        ext.args = { "${params.pbmarkdup_args}" }
    }
}
