
process {
    withName: BLAST_BLASTN {
        ext.args = { "${params.blastn_args}" }
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = { "${params.makeblastdb_args}" }
    }

    withName: HIFITRIMMER_FILTERBAM {
        ext.args = { "${params.hifitrimmer_args}" }
    }

    withName: LIMA {
        ext.args = { "${params.lima_args}" }
    }

    withName: PBMARKDUP {
        ext.prefix = { "${meta.id}_pbmarkdup"   }
        ext.args = { "${params.pbmarkdup_args}" }
    }
}
