/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/readmapping Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 5
    maxErrors     = '-1'

    // In this configuration file, we give little resources by default and
    // explicitly bump them up for some processes.
    // All rules should still increase resources every attempt to allow the
    // pipeline to self-heal from MEMLIMIT/RUNLIMIT.

    // Inline expression for log increase
    // start + step * (1 + Math.ceil(value <= 1 ? 0 : Math.log(value)/Math.log(base)))

    // Default
    cpus   = { 1 * task.attempt }
    memory = { 50.MB * task.attempt }
    time   = { 30.min * task.attempt }

    withName: BLAST_BLASTN {
        time   = { 2.hour  * Math.ceil( meta.read_count / 1000000 ) * task.attempt }
        memory = { 200.MB + 20.MB   * Math.ceil( meta.read_count / 1000000 ) * task.attempt }
        // The tool never seems to use more than 1 core even when given multiple. Sticking to 1 (the default)
    }

    withName: 'BLOBTK_DEPTH|BGZIP_BEDGRAPH' {
        memory = { 4.GB * task.attempt }
    }

    withName: 'BLOBTK_DEPTH' {
        time = { 1.h * Math.ceil(meta.read_count / (meta.datatype == "hic" ? 700000000 : 5000000)) * task.attempt }
    }

    withName: BWAMEM2_INDEX {
        memory = { 24.GB  * Math.ceil( meta.genome_size / 1000000000 ) * task.attempt }
        time   = { 30.min * Math.ceil( meta.genome_size / 1000000000 ) * task.attempt }
        // Not multithreaded
    }

    withName: CONVERT_CRAM {
        time   = { 1.hour * task.attempt }
        memory = { 4.GB + 850.MB * (2 + 6*task.attempt) * task.attempt + 0.6.GB * Math.ceil( meta.read_count / 100000000 ) }
    }

    withName: CRUMBLE {
        // Most genomes seem happy with 1 GB, but some need a bit more, and others a lot more.
        memory = {
            def fileSizeGB = input.size() / (1024**3)
            if (fileSizeGB <= 100) {
                2.GB * Math.pow(3, task.attempt - 1)
            } else if (fileSizeGB > 100 && fileSizeGB <= 145) {
                10.GB * Math.pow(2, task.attempt - 1)
            } else {
                15.GB * Math.pow(2, task.attempt - 1)
            }
        }
        // 100k reads per hour for PacBio, 50m for HiC
        time   = { 1.h  * Math.ceil( meta.read_count / (meta.datatype == "hic" ? 50000000 : 100000)) * task.attempt }
    }

    withName: FASTQC {
        // FASTQC typically uses a single CPU when processing a single file (default is 1 CPU)
        memory = { 12.GB * task.attempt }
        time   = { 1.h  * Math.ceil( meta.read_count / (meta.datatype == "hic" ? 300000000 : 5000000)) * task.attempt }
    }

    withName: ".*:HIFITRIMMER_PROCESSBLAST" {
        cpus   = { 2 + 2*task.attempt }
        memory = { 2.GB  * Math.ceil( meta.read_count / 100000000 ) * task.attempt }
        time   = { 1.h   * task.attempt }
    }

    withName: ".*:HIFITRIMMER_FILTERBAM" {
        cpus   = { 2 + 6*task.attempt }
        memory = { 3.GB  * Math.ceil( meta.read_count / 100000000 ) * task.attempt }
        time   = { 1.h   * Math.ceil( meta.read_count / 1000000 ) * task.attempt }
    }

    withName: LIMA {
        cpus   = { 2 + 2*task.attempt }
        memory = { 1.GB  * Math.ceil( meta.read_count / 30000000 ) * task.attempt }
        time   = { 1.h * Math.ceil( meta.read_count / 15000000 ) * task.attempt }
    }

    withName: MINIMAP2_INDEX {
        cpus    = { 2    * task.attempt }
        memory  = { 1.GB * Math.ceil( 30 * fasta.size() / 1e+9 ) * task.attempt }
    }

    withName: MULTIQC {
        memory = { 4.GB * task.attempt }
    }

    withName: PBMARKDUP {
        time   = { 1.h * Math.ceil( meta.read_count / 1000000 ) * task.attempt }
        cpus   = 16
        memory = { 60.GB * task.attempt  }
    }

    withName: SAMTOOLS_ADDREPLACERG {
        cpus   = { 2 + 6*task.attempt }
        memory = { 4.GB + 850.MB * (2 + 6*task.attempt) * task.attempt + 0.6.GB * Math.ceil( meta.read_count / 100000000 ) }
        time   = { 2.h * Math.ceil( meta.read_count / 100000000 ) * task.attempt / (2 + 6*task.attempt) }
    }

    withName: SAMTOOLS_CRAM {
        cpus   = 4
        memory = { 8.GB * task.attempt }
        time   = { 1.h * Math.ceil(meta.read_count / (meta.datatype == "hic" ? 70000000 : 1000000)) * task.attempt }
    }

    withName: SAMTOOLS_STATS {
        // Actually less than 1 hour for PacBio HiFi data, but confirmed 3 hours for Hi-C
        cpus   = { 2 * task.attempt      }
        time   = { 5.hour * task.attempt }
    }

    withName: 'SAMTOOLS_(FASTQ|FIXMATE|FLAGSTAT|MARKDUP|MERGE|VIEW)' {
        time   = { 8.hour * task.attempt }
    }

    withName: 'SAMTOOLS_(FLAGSTAT|IDXSTATS)' {
        memory = { 250.MB  * task.attempt }
    }

    withName: 'SAMTOOLS_(STATS|VIEW)' {
        memory = { ((meta.datatype == "pacbio_clr" || meta.datatype == "ont") ? 2.GB : 1.GB) * task.attempt }
    }

    withName: SAMTOOLS_FASTQ {
        cpus   = { 4 + 2*task.attempt }
        memory = { 250.MB + 1.GB  * Math.ceil( meta.read_count / 100000000 ) * task.attempt }
    }

    withName: SAMTOOLS_INDEX {
        cpus   = { 2 + 6*task.attempt }
        memory = { 4.GB + 850.MB * (2 + 6*task.attempt) * task.attempt + 0.6.GB * Math.ceil( meta.read_count / 100000000 ) }
        time   = { 2.h * Math.ceil( meta.read_count / 100000000 ) * task.attempt / (2 + 6*task.attempt) }
    }

    withName: SAMTOOLS_MERGEDUP {
        cpus   = 12
        memory = { 1.GB  * Math.ceil((meta.reads_size / 1e+9) / 4) * task.attempt }
        time   = { 3.h * task.attempt }
    }

    withName: SAMTOOLS_MERGE {
        cpus   = 16
        memory = { 50.GB * task.attempt }
        time   = { 30.h  * task.attempt }
    }

    withName: FASTXALIGN_MINIMAP2ALIGN {
        cpus   = { 4 + 2*task.attempt * (1 + Math.ceil((meta.read_count/1000000) <= 1 ? 0 : Math.log(meta.read_count/1000000)/Math.log(2))) }
        memory = { 800.MB * (4 + 2*task.attempt * (1 + Math.ceil((meta.read_count/1000000) <= 1 ? 0 : Math.log(meta.read_count/1000000)/Math.log(2)))) + 14.GB * Math.ceil( Math.pow(meta2.genome_size / 1000000000, 0.6)) * task.attempt }
        time   = {   1.h * task.attempt }
    }

    withName: FASTXALIGN_PYFASTXINDEX {
        time   = {   1.h * task.attempt }
    }

    withName: ".*:ALIGN_SHORT:.*:CRAMALIGN_MINIMAP2ALIGNHIC" {
        time    = { 4.h     * task.attempt }
        cpus    = { 16       * 1 }
        memory  = { 1.GB     * ( reference.size() < 2e9 ? 50 : Math.ceil( ( reference.size() / 1e+9 ) * 20 ) * task.attempt )  }
    }

    withName: ".*:ALIGN_SHORT:.*:CRAMALIGN_BWAMEM2ALIGNHIC" {
        time    = { 4.h     * task.attempt }
        cpus    = 16
        memory  = { 1.GB     * ( reference.size() < 2e9 ? 50 : Math.ceil( ( reference.size() / 1e+9 ) * 20 ) * task.attempt )  }
    }
}
