/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: BLAST_BLASTN {
        ext.prefix = { "${meta.id}" }
        ext.args = '-task blastn -reward 1 -penalty -5 -gapopen 3 -gapextend 3 -dust no -soft_masking true -evalue 700 -searchsp 1750000000000 -outfmt "6 std qlen"'
    }

    withName: BLOBTK_DEPTH {
        ext.prefix = { "${bam.baseName}" }
    }

    withName: BGZIP_BEDGRAPH {
        ext.prefix = { "${input.baseName}" }
    }

    withName: CHANGE_NAME {
        ext.prefix = { "${fasta.baseName}.${meta.datatype}.${meta.id}" }
    }

    withName: CONVERT_CRAM {
        ext.args = "--output-fmt cram"
    }

    withName: CRUMBLE {
        ext.prefix = { "${input.baseName}.crumble" }
        ext.args   = { (meta.datatype == "pacbio" ? "-y pbccs " : "") + "-O bam" }
    }

    withName: FASTQC {
        ext.prefix = { "${meta.datatype}.${meta.id}" }
    }

    withName: FASTQC_FILTERED {
        ext.prefix = { "${meta.datatype}.${meta.id}.filtered" }
    }

    withName: ".*FASTQC|.*FASTQC_FILTERED" {
        publishDir = [
        path: { "${params.outdir}/quality_control"},
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: GAWK {
        ext.args2 = { "'{gsub(/SAMPLEBARCODE/, \"${meta.barcode}\"); print}'" }
        ext.prefix = { "${meta.id}.barcoded" }
    }

    withName: HIFITRIMMER_PROCESSBLAST {
        ext.prefix = { "${meta.id}.hifitrimmer" }
        publishDir = [
            path: { "${params.outdir}/preprocess" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".json") || filename.endsWith(".bed.gz") ? filename : null }
        ]
    }

    withName: HIFITRIMMER_FILTERBAM {
        ext.prefix = { "${meta.id}.hifitrimmer" }
        ext.args = '-f -p'
    }

    withName: LIMA {
        ext.args = "--hifi-preset SYMMETRIC"
        publishDir = [
            path: { "${params.outdir}/preprocess" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".log") ? filename : null }
        ]
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args = "-dbtype nucl"
    }

    withName: MINIMAP2_INDEX {
        ext.args = { (meta.datatype == "pacbio" ? "-x map-hifi" : meta.datatype == "clr" ? "-x map-pb" : meta.datatype == "ont" ? "-x map-ont" : "-x sr" ) + " -I " + Math.ceil(fasta.size()/1e9) + "G"}
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/quality_control" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".html") ? filename : null }
        ]
    }

    withName: PBMARKDUP {
        ext.args   = { "--clobber --rmdup --log-level INFO" }
        ext.prefix = { "${meta.id}.dedup" }
        publishDir = [
            path: { "${params.outdir}/preprocess" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".log") ? filename : null }
        ]
    }

    withName: SAMTOOLS_ADDREPLACERG {
        ext.prefix = { "${input.baseName}_addRG" }
        ext.args = { "-r ${meta.read_group} --no-PG" }
    }

    withName: SAMTOOLS_COLLATETOFASTQ {
        ext.args   = { (params.use_work_dir_as_temp ? "-T." : "") }
        ext.args2 = '-F 0x200 -nt'
    }

    withName: SAMTOOLS_FASTQ {
        ext.args = '-F 0x200 -nt'
    }

    withName: SAMTOOLS_FLAGSTAT {
        ext.prefix = { "${bam.baseName}" }
    }

    withName: SAMTOOLS_IDXSTATS {
        ext.prefix = { "${bam.baseName}" }
    }

    withName: SAMTOOLS_MERGEDUP {
        ext.args = { "-c -p" }
    }

    withName: SAMTOOLS_MERGE {
        beforeScript = { "export REF_PATH=spoof"}
        ext.args = { "-c -p" }
        ext.prefix = { "${meta.id}.merge" }
    }

    // If custom header provided, this is inserted in place of existing
    // @HD and @SQ lines, while preserving any other header entries
    withName: SAMTOOLS_REHEADER {
        ext.prefix = { "${file.baseName}" }
    }

    withName: SAMTOOLS_STATS {
        beforeScript = { "export REF_PATH=spoof"}
        ext.prefix = { "${input.baseName}" }
    }

    // minimap2 2.24 can only work with genomes up to 4 Gbp. For larger genomes, add the -I option with the genome size in Gbp.
    // In fact, we can also use -I to *decrease* the memory requirements for smaller genomes
    // NOTE: minimap2 uses the decimal system ! 1G = 1,000,000,000 bp
    // NOTE: Math.ceil returns a double, but fortunately minimap2 accepts floating point values.
    // NOTE: minimap2 2.25 raises the default to 8G, which means higher memory savings on smaller genomes

    withName: ".*:ALIGN_LONG:.*:FASTXALIGN_MINIMAP2ALIGN" {
        ext.args1 = {
            (meta.datatype == "pacbio" ? "-ax map-hifi --cs=short " : meta.datatype == "clr " ? "-ax map-pb " : "-ax map-ont ") + meta.read_group + ' -I' + Math.ceil(meta2.genome_size / 1e9).toInteger() + 'G'
        }
        ext.args2        = ""
        ext.args3        = "--write-index -l1"
    }

    withName: ".*:ALIGN_SHORT:.*:CRAMALIGN_BWAMEM2ALIGNHIC" {
        ext.args1       = ""
        ext.args2       = "-F 0x200 -nt"
        ext.args3       = { meta.datatype == "hic" ? "-5SPCp" : "-p" }
        ext.args4       = "-mpu"
        ext.args5       = ""
        ext.args6       = "--write-index -l1"
    }

    withName: ".*:ALIGN_SHORT:.*:MINIMAP2_INDEX" {
        ext.args = { "-x sr -I" + Math.ceil(meta.genome_size/1e9) + 'G' }
    }

    withName: ".*:ALIGN_SHORT:.*:CRAMALIGN_MINIMAP2ALIGNHIC" {
        ext.args1        = ""
        ext.args2        = "-F 0x200 -nt"
        ext.args3        = { "-ax sr --cs=short -I" + Math.ceil(meta.genome_size/1e9) + 'G' }
        ext.args4        = "-mpu"
        ext.args5        = ""
        ext.args6        = "--write-index -l1"
    }

    withName: '.*:CONVERT_STATS:SAMTOOLS_.*' {
        beforeScript = { "export REF_PATH=spoof" }
    }

    withName: '.*:CONVERT_STATS:SAMTOOLS_CRAM' {
        ext.prefix = { "${input.baseName}" }
        // version=3.0 because 3.1 is not yet supported by htsjdk and many other software
        // archive,level=8 to get maximum compression but without the extra compute time of lzma, cf https://www.htslib.org/benchmarks/CRAM.html
        // embed_ref=2 so that the CRAM files can be used without having to link / download the reference genome
        ext.args   = "--output-fmt cram,version=3.0,archive,level=8,embed_ref=2 --write-index"
    }

    withName: '.*:CONVERT_STATS:SAMTOOLS_(INDEX|CRAM|REHEADER_.*|FLAGSTAT|IDXSTATS)|BGZIP_BEDGRAPH|GZIP_STATS' {
        publishDir = [
            path: { "${params.outdir}/read_mapping/${meta.datatype}${meta.merged ? '/merged' : ''}" },
            mode: params.publish_dir_mode,
            // Only publish BAM/CRAM from SAMTOOLS_REHEADER if params.header is true, else from: SAMTOOLS_INDEX (BAM) and SAMTOOLS_CRAM (CRAM)
            saveAs: { filename ->
                filename == 'versions.yml'
                || (task.process =~ /SAMTOOLS_INDEX/ && filename.endsWith(".bam") && params.header )
                || (task.process =~ /SAMTOOLS_CRAM/ && filename.endsWith('.cram') && params.header )
                || ((task.process =~ /SAMTOOLS_CRAM/) && filename.endsWith(".bam"))
                ? null : filename
            }
        ]
    }
}
