/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests for PacBio Ampli-Fi data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/readmapping -profile test_amplifi,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for Ampli-Fi data'
    config_profile_description = 'Minimal test dataset to check pipeline function on PacBio Ampli-Fi data'

    // Input data
    input = "${projectDir}/assets/samplesheet_amplifi.csv"

    // Output directory
    outdir = "results_amplifi"

    // Alignment
    alignment_format = "bam"
    compression = "none"

    // Fasta references
    fasta = "https://tolit.cog.sanger.ac.uk/test-data/Adalia_bipunctata/reference/insdc/GCA_910592335.1.subset.fa.gz"
}
