/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/readmapping -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/test/samplesheet.csv'
    // input = 's3://sanger-tol-readmapping/samplesheet.csv'
    vector_db = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/bin/vectorDB.tar.gz'

    // Genome references
    fasta = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/test/GCA_927399515.1_OV656674.1.fasta.gz'
    // fasta = 's3://sanger-tol-readmapping/GCA_927399515.1_OV656674.1.fasta.gz'
}
