/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run sanger-tol/readmapping -profile test_full,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // input = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/gfLaeSulp1_samplesheet.csv'
    // input = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/fSalTru1_samplesheet.csv'
    // input = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/idEriPert1_samplesheet.csv'
    input = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/ilEraDefo1_samplesheet.csv'

    // Genome references
    // fasta = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/gfLaeSulp1_genome.fa.gz'
    // fasta = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/fSalTru1_genome.fa.gz'
    // fasta = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/idEriPert1_genome.fa.gz'
    fasta = '/lustre/scratch123/tol/teams/tolit/users/ps22/pipelines/nf-core-readmapping_v2/full_test/ilEraDefo1_genome.fa.gz'
}
