/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests without PacBio adapter trimming
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Untrimmed test profile'
    config_profile_description = 'Minimal test dataset without PacBio adapter trimming'

    // Input data
    input = "${projectDir}/assets/samplesheet_long_read.csv"

    // Output directory
    outdir = "./results"

    // Alignment
    short_reads_map_chunk_size = 1
    merge_output = "1"
    alignment_format = "bam"

    // Disable PacBio adapter trimming
    pacbio_adapter = false
    pacbio_adapter_yaml = false

    // Fasta references
    fasta = "https://tolit.cog.sanger.ac.uk/test-data/Meles_meles/assembly/release/mMelMel3.1_paternal_haplotype/GCA_922984935.2.subset.fasta.gz"
    header = "https://tolit.cog.sanger.ac.uk/test-data/Meles_meles/assembly/release/mMelMel3.1_paternal_haplotype/GCA_922984935.2.subset.header.sam"
}
