/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests for PacBio PiMmS data
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/readmapping -profile test_pimms,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile for PiMmS data'
    config_profile_description = 'Minimal test dataset to check pipeline function on PacBio PiMmS data'

    // Input data
    input = "${projectDir}/assets/samplesheet_pimms.csv"

    // Output directory
    outdir = "results_pimms"

    // CRAM output and Crumble are already tested by the "test" profile
    alignment_format = "bam"
    compression = "none"

    // Fasta references
    fasta = "https://tolit.cog.sanger.ac.uk/test-data/Siboglinum_fiordicum/reference/insdc/GCA_965260885.1.subset.fa.gz"
}
