nextflow.enable.moduleBinaries = true

process {
    withName: STAR_INDEX {
        memory   =  15.Gb
    }

    withName: CRAMALIGN_STARALIGNRNASEQ {
        ext.args1 = { "${params.samtools_cat_args}"     }
        ext.args2 = { "${params.samtools_fastq_args}"   }
        ext.args3 = { "${params.star_mem_args}"      } //WHAT IS THIS
        ext.args4 = { "${params.samtools_fixmate_args}" }
        ext.args5 = { "${params.samtools_view_args}"    }
        ext.args6 = { "${params.samtools_sort_args}"    }
    }

    withName: 'SAMTOOLS_MERGEDUP' {
        ext.args2 = { "${params.samtools_markdup_args}" }
    }
}
